<div class="show-user-container">
  <h1>Posts</h1>
  <div><%= link_to 'Add A Post', user_new_blog_path %></div>
  <p><%= flash[:notice] %></p>
  <div class="user-show-section">
 
    <div class="card-img">
    <%= image_tag (@user.photo,( alt: 'Image'), class: 'img' %>
    </div>
    <div class="card-body">
      <h2  class="card-title"><%= @user.name %></h2>
      <p class="card-post">Posts: <%= @user.postsCounter %></p>
    </div>
  </div>

  <% @blogs.each do |blog|%>
   <div class="card-body">
   <h1 class="card-title"> <%= blog.title %></h1>
   <p class="card-content"><%= blog.text %></p>
    <em class="card-post">
    Comments: <%= blog.comments.size %>, Likes: <%= blog.likes.size %>
    <em>
   </div>
    <div class="recent-comments"><% blog.recent_comment%></div>
  <% end %>

  <div>
  </div>
</div>

