<div>
<%= image_tag @user.photo %>
<h2><%= @user.name %></h2>
<em><%= @user.bio %></em>
<p><%= @user.postsCounter %></p>
</div>

<% @blogs.each do |blog|%>
  <%= blog.text %>
   <%= blog.text %>
 <%= blog.text %>
<% end %>