<div>
  <h1><%= @blog.title %></h1>
  <em><%= @blog.text %><em>
  <div>
     <%= render partial: "shared/comment_total", locals: {comment_total:blog.comments.size} %>,
      <%= render partial: "shared/like_total", locals: {like_total:blog.likes.size} %>
  </div>
  <div>
    <%= render partial: "shared/like_shared", locals: {blog: @blog} %>
    <p><%= @blog.text %></p>
  </div>
    <div>
      <%= if @blog.comments.size > 0%>
         <%= render partial: "shared/comment_shared", locals: {comments: @blog.comments} %>
      <% end %>
   </div>

   <div>
    <em>Comment</em>
    <%= render partial: 'shared/new_comment', locals: {
      blog: @blog } %>
   </div>
</div>