<div class="show-user-container">
  <div class="user-show-section">
    <img class="card-img">
    <%= image_tag @user.photo,  class: 'img'  %>

    <div class="card-body">
      <h1 class="card-title"><%= @user.name %></h1>
      <div><%= link_to 'Add A Post', user_new_blog_path(@user.id) %></div>
      <p class="card-post">Posts: <%= @user.postsCounter %></p>
    </div>
  </div>
  <div class="card-body">
    <h3 class="card-bio-title"><%= @user.name %> Bio</h3>
    <em class="bio-content"><%= @user.bio %></em>
  </div>
  <%= render partial: 'blogs/blog', collection: @blog %>
  <button>
    <%= link_to 'Post', user_blogs_path(@user.id)%>
  </button>
</div>